*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-accent-light: #ff80ff;
  --color-accent-dark: #673AB7;

  --color-light: #fff;
  --color-light-secondary: #eceff1;
  --color-dark: #202122;
  --color-dark-secondary: #404142;
}

body {
  --color-accent: var(--color-accent-dark);

  --color-foreground: var(--color-dark);
  --color-foreground-secondary: var(--color-dark-secondary);
  --color-background: var(--color-light);
  --color-background-secondary: var(--color-light-secondary);

  --shadow-2dp: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  body {
    --color-accent: var(--color-accent-light);

    --color-foreground: var(--color-light);
    --color-foreground-secondary: var(--color-light-secondary);
    --color-background: var(--color-dark);
    --color-background-secondary: var(--color-dark-secondary);

    --shadow-2dp: none;
  }

  img {
    mix-blend-mode: luminosity;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: var(--color-foreground);
  background: var(--color-background-secondary);
}

h1, strong {
  font-weight: 500;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover,
a:focus {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  max-width: 42rem;
  margin: 0 auto;
}

.mascots,
.meta {
  color: var(--color-foreground);
  background: var(--color-background);
}

.mascots {
  position: relative;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  background: var(--color-background);
  box-shadow: var(--shadow-2dp);
  margin: 2rem;
}

.mascots .mascots__mascot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.mascots .mascots__mascot:first-child,
.mascots .mascots__mascot:last-child {
  transition: transform 0.3s cubic-bezier(0, 0, 0, 1.125),
    opacity 0.3s ease-out;
}

.mascots .mascots__mascot:last-child {
  transform: rotateZ(20deg);
  opacity: 0;
}

.mascots:focus .mascots__mascot:first-child,
.mascots:hover .mascots__mascot:first-child {
  opacity: 0;
  transform: rotateZ(-20deg);
}

.mascots:focus .mascots__mascot:last-child,
.mascots:hover .mascots__mascot:last-child {
  opacity: 1;
  transform: rotateZ(0);
}

.meta {
  padding: 1rem;
  border-radius: 3px;
  text-align: center;
  box-shadow: var(--shadow-2dp);
}

.meta h1,
.meta p,
.meta ul,
.meta pre {
  margin: 0;
  margin-bottom: 1.125rem;
}

.meta .pgp-fingerprint {
  white-space: pre-line;
  font-size: 0.875rem;
  line-height: 1.125;
}

@keyframes intro {
  from, 12.5% {
    opacity: 0;
    transform: rotateZ(20deg) scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1) rotateZ(0deg);
  }
}

.animate .mascots {
  animation: intro 2s cubic-bezier(0, 0, 0, 1.125);
}


@media (max-width: 48rem) {
  body {
    font-size: 0.875rem;
  }
}
.glow {
  /*font-size: 80px;*/
  color: #fff;
  /*text-align: center;*/
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #383835;
  }
}